<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rito-Bot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        p{
            color:#FCF17E;
        }
        h1{
            color:#FCF17E;
        }
        body{
            background-color:#333333;
            display: block;
            text-align: center;
            height: 100%;
        }
        html{
            height: 100%;
        }
        .item {
            flex: 1;
            flex-grow: 2;
        }
    </style>
</head>
<body>
    <section class="container column align-items">
        <div class="item">
            <h1 class="display-4">Conheça o Rito-Bot!</h1>
            <p class="lead">Um bot para o discord que oferece comandos de consulta para o League of Legends</p>
            <p>É fácil usar, basta clicar no botão abaixo e adicioná-lo no seu servidor do Discord!</p>
            <a class="btn btn-success btn-lg" href="https://discord.com/api/oauth2/authorize?client_id=761211755195269140&permissions=8&scope=bot" role="button">Adicionar o Rito-Bot</a>
        </div>
    </section>
</body>
</html>